* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.courses,

.sign-up {
  display: flex;
  flex-direction: center;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("images/img-2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
}

.courses{
  background-image: url("images/img-1.jpg");
  /* background-color: aqua; */
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color:#fff;
  font-size: 50px;
}

.sign-up {
  /* background-image: url("images/img-8.jpg"); */
  background-color: aqua;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 50px;
}